<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="SiteCatalogConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\HP\Desktop\GiT\OurGroupRepozitory\BD\SiteCatalog.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="SiteCatalogConnectionString2" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Cryo\Desktop\GitHub\OurGroupRepozitory\BD\SiteCatalog.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="SiteDimaVersion" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Cryo\Desktop\SiteCatalog.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
